.terraform/

*.tfstate
*.tfstate.*

*.tfvars
*.tfvars.json
!*.example.tfvars

.terraform.lock.hcl
*.tfplan

override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.log
crash.log

.terraformrc
terraform.rc

*.tfbackend
!example.*.tfbackend
